@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*

 Resset sass
 --------------------------------------------
 */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: 0 !important;
}

* {
	-webkit-text-size-adjust: auto !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	border: 0;
}

html {
	overflow-x: hidden;
}

body {
	line-height: 1;
	word-wrap: break-word;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	list-style-position: inside;
	background-image: none;
	margin: 0;
	padding: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove controls from Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	/* Removes leftover margin */
}

input,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: normal;
}

:focus {
	outline-color: transparent;
	outline-style: none;
}

button::-moz-focus-inner {
	border: 0;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear {
	clear: both !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	width: 0 !important;
}

/*
.row {
   margin: 0 !important;

   [class*="col-"] {
	   padding-right: 0;
	   padding-left: 0;
   }
}*/


button {
	outline: none !important;
}

h1,
h2 {
	text-transform: capitalize;
}

* {
	-webkit-overflow-scrolling: touch;
}


$white: #ffffff;
$black: #000000;
$gray: #808080;
$blue: #0096d7;
$green: #008000;
$yellow: #f0bb35;
$orange: #e6a72d;
$red: #cc0000;


input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px $white inset;
	box-shadow: 0 0 0 30px $white inset;
}


@mixin middle() {
	&:after {
		content: "";
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}
}

// Middle content function
//-------------------------------------------

@mixin middleCont() {
	display: inline-block;
	vertical-align: middle;
}

button {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	border: none;
	border-radius: 22px;
	font-size: 12px;
	color: $white;
	font-weight: 400;
	display: inline-block;
	text-decoration: none !important;
	cursor: pointer;
	transition: background 0.3s ease, color 0.3s ease;
	font-family: 'Helvetica Neue', 'Roboto', sans-serif !important;
	cursor: pointer;

	&.blue {
		background: $blue;

		&:hover {
			background: darken($blue, 5%);
		}

		&.bordered {
			border-color: $blue;
			color: $blue;

			&:hover {
				background: $blue;
				color: $white;
			}
		}
	}

	&.red {
		background: $red;

		&:hover {
			background: darken($red, 5%);
		}
	}

	&.green {
		background: $green;

		&:hover {
			background: darken($green, 5%);
		}
	}

	&.gray {
		background: $gray;

		&:hover {
			background: darken($gray, 5%);
			color: $white;
		}
	}

	&.white {
		background: $white;
		color: $gray;
	}

	&.transparent {
		background: none;
		color: $blue;
	}

	&.bordered {
		line-height: 41px;
		background: none;
		border: 1px solid $white;

		&:hover {
			background: $white;
			color: $gray;
		}
	}

	&.inactive, &.disabled {
		background: $gray;
		cursor: no-drop;
		visibility: hidden;
		display: none !important;

		&.bordered {
			border: 1px solid $gray;
			color: $white;

			&:hover {
				background: $gray;
			}
		}

		&:hover {
			background: $gray;
		}
	}

	&.thin {
		border-radius: 15px;
		height: 25px;
		line-height: 25px;

		&.bordered {
			line-height: 28px;
		}
	}

	&.clear-radius {
		border-radius: 0;
	}
}

input,
textarea {
	width: 100%;
	height: 35px;
	border-radius: 22px;
	background: $white;
	border: 1px solid $white;
	padding: 0 20px;
	font-weight: 400;
	color: $gray;
	font-size: 12px;

	&:focus {
		color: $gray !important;
		border: 1px solid $gray !important;
	}

	&.disabled,
	&.inactive {
		color: $white !important;
		background: $gray;
	}

	&.transparent {
		background: none !important;
		border: 1px solid rgba($gray, 0);
		color: $gray !important;

		&:focus {
			border: 1px solid rgba($gray, 0) !important;
		}
	}

	&.bordered {
		border: 1px solid $gray;

		&:focus {
			border: 1px solid $gray !important;
		}
	}

	&.clear-radius {
		border-radius: 0;
	}
}

.hide {
	display: none !important;
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

html {
	height: 100%;
}

body {
	font-family: Arial, serif;
	background: url("../images/background.jpg") no-repeat center center / cover;
	background-attachment: fixed;
	height: 100%;
}

.main {
	width: 67%;
	margin: 20px auto 0;
	padding: 10px;
	background: rgba($white, 0.9);
	min-height: calc(100% - 40px - 30px - 20px);

	.main-title {
		text-align: center;

		img {
			display: block;
			max-width: 100px;
			margin: 0 auto;
		}

		h1 {
			font-size: 20px;
			color: #17ACBC;
			margin: 10px;
			text-transform: uppercase;
		}

		h4 {
			font-size: 16px;
			color: $gray;
			margin: 10px 0 0 0;
		}

		p {
			font-size: 14px;
			color: $gray;
			margin: 10px 0 0 0;
		}
	}

	.reset {
		margin: 40px 0 0 0;
		text-align: right;

		button {
			width: auto;
			padding: 0 20px;
		}
	}

	.players-group {
		margin: 30px 0 0 0;
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;

		.overlay {
			display: none;
		}

		&.disabled {
			padding: 10px;
			display: none;

			.overlay {
				display: block;
				background: rgba($black, 0.8);
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: center;
				@include middle;

				span {
					font-size: 14px;
					line-height: 18px;
					color: $white;
					display: inline-block;
					vertical-align: middle;
					width: 50%;
				}
			}
		}

		.field {
			width: 49%;

			label {
				font-size: 14px;
				color: $gray;
				text-align: center;
				display: block;
			}

			ul {
				min-height: 35px;
				margin: 10px 0 0 0;
				border: 1px solid $gray;

				li {
					width: 48%;
					background: $blue;
					padding: 5px;
					display: inline-block;
					margin: 5px 0 5px 1.5%;
					position: relative;
					@include middle();

					span {
						display: inline-block;
						vertical-align: middle;
						font-size: 12px;
						color: $white;
						text-transform: capitalize;

						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
							width: 30px;
							height: 37px;
							margin: 0 10px 0 0;
							background: url(../images/default.svg) no-repeat left top / 100% auto;
						}
					}

					&.aram {
						span {
							&:before {
								background: url(../images/aram.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.vaghik {
						span {
							&:before {
								background: url(../images/vaghik.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.arman {
						span {
							&:before {
								background: url(../images/arman.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.gugo {
						span {
							&:before {
								background: url(../images/gugo.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.aleta {
						span {
							&:before {
								background: url(../images/aleta.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.siranush {
						span {
							&:before {
								background: url(../images/siranush.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.mko {
						span {
							&:before {
								background: url(../images/mko.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.miko {
						span {
							&:before {
								background: url(../images/miko.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.narek {
						span {
							&:before {
								background: url(../images/narek.svg) no-repeat left top / 100% auto;
							}
						}
					}

					&.lilit {
						span {
							&:before {
								background: url(../images/lilit.svg) no-repeat left top / 100% auto;
							}
						}
					}

					i {
						display: inline-block;
						vertical-align: middle;
						font-size: 12px;
						color: $white;
						cursor: pointer;
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			input {
				margin: 10px 0 0 0;
			}
		}

		.buttons-wrap {
			margin: 20px 0 0 0;
			width: 100%;
			text-align: center;

			button {
				width: auto;
				padding: 0 20px;
				margin: 0 auto;
			}
		}
	}

	.generate-teams {
		margin: 30px 0 0 0;
		text-align: center;

		.title-wrap {
			width: 100%;
		}

		h1 {
			font-size: 20px;
			color: $gray;
			text-align: center;
			display: block;
			width: 100%;
		}

		.group-collapse-button {
			display: block;
			width: 100px;
			margin: 20px auto 0;
		}

		.generate-teams-button {
			display: inline-block;
			width: auto;
			padding: 0 20px;
		}

		.group-blocks {
			margin: 20px 0 0 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			padding: 20px;
			background: rgba(gray, 0.26);
			border-bottom: 1px solid gray;

			.group-wrap {
				width: 49%;

				.score-list {
					margin: 20px 0 0 0;
					position: relative;
					min-height: 90px;
				}

				.group-collapse-button {
					width: 100px;
					margin: 20px 0 0 0;
				}
			}

			&.collapsed {
				.group-wrap {
					overflow: hidden;
					height: 0;
					min-height: 0;
				}
			}
		}

		.group-list-wrap {
			margin: 20px 0 0 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
		}
	}

	table {
		width: 100%;
		text-align: left;

		td, th {
			color: $white;
			font-size: 14px;
			height: 35px;
			vertical-align: middle;
			padding: 0 10px;

			&:not(:nth-of-type(1)) {
				text-align: right;
			}
		}

		th {
			font-weight: bold;
			font-size: 16px;
		}

		thead {
			tr {
				th {
					background: $blue;
				}
			}
		}

		tbody {
			tr {
				td {
					background: $gray;
				}

				&:nth-of-type(odd) {
					td {
						background: lighten($gray, 10%);
					}
				}

				&.top-0 {
					td {
						background: $green;
					}
				}

				&.top-1 {
					td {
						background: lighten($green, 5%);
					}
				}

				&.top-2 {
					td {
						background: lighten($green, 8%);
					}
				}
			}
		}
	}

	.opponents-wrap {
		width: 100%;
		position: relative;

		&:not(:nth-of-type(1)) {
			margin: 20px 0 0 0;
		}

		button {
			text-transform: uppercase;
		}

		.message {
			display: block;
			background: rgba($black, 0.8);
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			text-align: center;

			span {
				font-size: 14px;
				line-height: 16px;
				color: $white;
				display: inline-block;
				vertical-align: middle;
				width: 50%;
			}
		}

		img {
			display: block;
			width: 100%;
		}

		.tie-button {
			width: auto;
			padding: 0 20px;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}

		.submit-result-button {
			width: auto;
			padding: 0 20px;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}

		.edit-button {
			width: auto;
			padding: 0 20px;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		input {
			width: 50px;
			height: 25px;
			display: block;
			padding: 0 5px;
			margin: 5px auto 0;
		}

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($black, 0.4);

			h4 {
				display: inline-block;
				background: $green;
				padding: 5px;
				margin: 10px 0 0 0;
				color: $white;
				font-size: 18px;
				text-transform: capitalize;
			}

			.wrap {
				position: absolute;
				width: 100%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				&:nth-of-type(2) {
					margin: 10px 0 0 0;
				}

				li {
					display: inline-block;
					font-size: 14px;
					color: $white;
					font-weight: bold;
					text-transform: uppercase;
					@include middle;

					&:nth-of-type(1),
					&:nth-of-type(3) {
						width: calc((100% - 20px) / 2);
					}

					span {
						display: inline-block;
						vertical-align: middle;
						//min-width: 100px;
						text-align: center;

						button {
							width: auto;
							padding: 0 15px;
							display: block;
							margin: 10px auto 0;
						}
					}

					img {
						display: inline-block;
						vertical-align: middle;
						width: 70px;
					}
				}
			}
		}
	}

	.semifinal-wrap {
		padding: 20px;
		background: rgba(gray, 0.26);
		border-bottom: 1px solid gray;
		margin: 30px 0 0 0;

		.title-wrap {
			width: 100%;
		}

		h1 {
			font-size: 20px;
			color: #808080;
			text-align: center;
			width: 100%;
		}

		.semifinal-collapse-button {
			display: block;
			width: 100px;
			margin: 20px auto 0;
		}

		.generate-semifinal-matches {
			width: 200px;
			margin: 0 auto;
			display: block;
		}

		.semifinal-matches-wrap {
			margin: 20px 0 0 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			text-align: center;

			.semifinal-group-wrap {
				width: 49%;
				margin: 20px 0 0 0;
			}

			.match-wrap {
				margin: 20px 0 0 0;
			}

			&.collapsed {
				.semifinal-group-wrap {
					overflow: hidden;
					height: 0;
					min-height: 0;
				}
			}
		}

		.score-list {
			ul {
				li {
					display: inline-block;
					padding: 0 20px;

					&:before {
						width: 30px;
						height: 36px;
					}

					p {
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						color: #808080;
						margin: 0 0 0 5px;
						text-transform: uppercase;
					}

					span {
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						color: #808080;
						margin: 0 0 0 5px;

						&.winner {
							font-size: 12px;
							background: green;
							padding: 3px 5px;
							color: white;
						}

						&.goals {
							color: $blue;
							font-weight: 700;
							text-decoration: underline;
						}
					}
				}
			}
		}

		.edit {
			display: block !important;
		}
	}

	.final-wrap {
		padding: 20px;
		background: rgba(gray, 0.26);
		border-bottom: 1px solid gray;
		margin: 30px 0 0 0;

		.title-wrap {
			width: 100%;
		}

		h1 {
			font-size: 20px;
			color: #808080;
			text-align: center;
			width: 100%;
		}

		.final-collapse-button {
			 display: block;
			 width: 100px;
			 margin: 20px auto 0;
		 }

		.generate-final-matches {
			width: 200px;
			margin: 0 auto;
			display: block;
		}

		.final-matches-wrap {
			margin: 20px 0 0 0;
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			text-align: center;

			.final-group-wrap {
				width: 49%;
				margin: 20px 0 0 0;
			}

			.match-wrap {
				margin: 20px 0 0 0;
			}

			&.collapsed {
				.final-group-wrap {
					overflow: hidden;
					height: 0;
					min-height: 0;
				}
			}
		}

		.score-list {
			ul {
				li {
					display: inline-block;
					padding: 0 20px;

					&:before {
						width: 30px;
						height: 36px;
					}

					p {
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						color: #808080;
						margin: 0 0 0 5px;
						text-transform: uppercase;
					}

					span {
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						color: #808080;
						margin: 0 0 0 5px;

						&.winner {
							font-size: 12px;
							background: green;
							padding: 3px 5px;
							color: white;
						}

						&.goals {
							color: $blue;
							font-weight: 700;
							text-decoration: underline;
						}
					}
				}
			}

			h1 {
				color: $blue;
				margin: 0 0 20px 0;
			}
		}

		.edit {
			display: block !important;
		}
	}

	.show-winners {
		margin: 20px 0 0 0;

		.pedestal {
			margin: 50px auto 0;
			width: 300px;
			position: relative;
			padding: 90px 0 0 0;

			img {
				display: block;
				width: 100%;
			}

			.place {
				font-size: 18px;
				color: $blue;
				position: absolute;
				text-align: center;
				font-weight: bold;

				&.first-place {
					top: 0;
					left: 43%;
				}

				&.second-place {
					top: 38px;
					left: 10%;
				}

				&.third-place {
					top: 70px;
					right: 8%;
				}

				&:before {
					content: '';
					display: block;
					vertical-align: middle;
					width: 50px;
					height: 67px;
					margin: 0 auto 5px;
					background: url(../images/default.svg) no-repeat left top / 100% auto;
				}

				&.aram {
					&:before {
						background: url(../images/aram.svg) no-repeat left top / 100% auto;
					}
				}

				&.vaghik {
					&:before {
						background: url(../images/vaghik.svg) no-repeat left top / 100% auto;
					}
				}

				&.arman {
					&:before {
						background: url(../images/arman.svg) no-repeat left top / 100% auto;
					}
				}

				&.gugo {
					&:before {
						background: url(../images/gugo.svg) no-repeat left top / 100% auto;
					}
				}

				&.aleta {
					&:before {
						background: url(../images/aleta.svg) no-repeat left top / 100% auto;
					}
				}

				&.siranush {
					&:before {
						background: url(../images/siranush.svg) no-repeat left top / 100% auto;
					}
				}

				&.mko {
					&:before {
						background: url(../images/mko.svg) no-repeat left top / 100% auto;
					}
				}

				&.miko {
					&:before {
						background: url(../images/miko.svg) no-repeat left top / 100% auto;
					}
				}

				&.narek {
					&:before {
						background: url(../images/narek.svg) no-repeat left top / 100% auto;
					}
				}

				&.lilit {
					&:before {
						background: url(../images/lilit.svg) no-repeat left top / 100% auto;
					}
				}
			}
		}
	}

	.person {
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 67px;
			margin: 0 0 5px 0;
			background: url(../images/default.svg) no-repeat left top / 100% auto;
		}

		&.aram {
			&:before {
				background: url(../images/aram.svg) no-repeat left top / 100% auto;
			}
		}

		&.vaghik {
			&:before {
				background: url(../images/vaghik.svg) no-repeat left top / 100% auto;
			}
		}

		&.arman {
			&:before {
				background: url(../images/arman.svg) no-repeat left top / 100% auto;
			}
		}

		&.gugo {
			&:before {
				background: url(../images/gugo.svg) no-repeat left top / 100% auto;
			}
		}

		&.aleta {
			&:before {
				background: url(../images/aleta.svg) no-repeat left top / 100% auto;
			}
		}

		&.siranush {
			&:before {
				background: url(../images/siranush.svg) no-repeat left top / 100% auto;
			}
		}

		&.mko {
			&:before {
				background: url(../images/mko.svg) no-repeat left top / 100% auto;
			}
		}

		&.miko {
			&:before {
				background: url(../images/miko.svg) no-repeat left top / 100% auto;
			}
		}

		&.narek {
			&:before {
				background: url(../images/narek.svg) no-repeat left top / 100% auto;
			}
		}

		&.lilit {
			&:before {
				background: url(../images/lilit.svg) no-repeat left top / 100% auto;
			}
		}
	}
}

footer {
	margin: 30px 0 0 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: $blue;
	font-size: 14px;
	color: $white;
}

@media screen and (max-width: 1500px) {
	.main {
		width: 77%;
	}
}

@media screen and (max-width: 1277px) {
	.main {
		width: 90%;
	}
}

@media screen and (max-width: 1130px) {
	.main {
		width: 90%;
	}

	.main .generate-teams .group-blocks .group-wrap {
		width: 100%;

		&:nth-of-type(2) {
			margin: 20px 0 0 0;
		}

		.opponents-wrap {
			margin: 20px 0 0 0;
			width: 49%;
			position: relative;
		}
	}
}

@media screen and (max-width: 970px) {
	.main .opponents-wrap .overlay ul li {

		img {
			margin: 0;
			width: 35px;
		}
	}

	.main .semifinal-wrap .score-list ul li {
		padding: 0;
	}

	.main .semifinal-wrap .score-list ul li {
		&:nth-of-type(1) {
			padding: 0 10px 0 0;
		}

		p, span {
			font-size: 12px;
		}
	}

	.main .final-wrap .score-list ul li {
		padding: 0;
	}

	.main .final-wrap .score-list ul li {
		&:nth-of-type(1) {
			padding: 0 10px 0 0;
		}

		p, span {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 765px) {
	.main .opponents-wrap .overlay ul li {
		/*display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		span {
			width: 100%;
			order: 2;
			font-size: 12px;

			input {
				height: 20px;
			}
		}*/

		img {
			//order: 1;
			display: none;
			//margin: 0 auto 10px;
			//width: 20px;
		}

		//&:after {
		//	display: none;
		//}
	}

	.main .opponents-wrap .overlay ul li img {
		margin: 0 auto 5px;
		width: 20px;
	}

	.main .players-group .field {
		width: 100%;

		&:nth-of-type(2) {
			margin: 20px 0 0 0;
		}
	}
}

/*@media screen and (max-width: 730px) {

	.main .opponents-wrap .overlay ul li img {
		display: none;
	}

	.main .opponents-wrap .overlay h4 {
		display: inline-block;
		background: #008000;
		padding: 3px 5px;
		margin: 5px 0 0 0;
		color: #ffffff;
		font-size: 14px;
		text-transform: capitalize;
	}

	.main .opponents-wrap .edit-button {
		top: 5px;
		right: 5px;
	}

	.main .opponents-wrap .message span {
		width: 100%;
	}
}*/

@media screen and (max-width: 785px) {
	.main {
		width: 95%;
	}

	.main .opponents-wrap {
		width: 100% !important;
		margin: 20px 0 0 0 !important;
	}

	.main .opponents-wrap .overlay ul li img {
		display: inline-block;
		width: 100px;
	}


	.main .semifinal-wrap .semifinal-matches-wrap .semifinal-group-wrap {
		width: 100%;
	}


	.main .final-wrap .final-matches-wrap .final-group-wrap {
		width: 100%;
	}
}

@media screen and (max-width: 560px) {
	.main .opponents-wrap .overlay ul li img {
		display: inline-block;
		width: 60px;
	}
}

@media screen and (max-width: 450px) {
	.main {
		width: 98%;
	}

	.main .opponents-wrap .overlay ul li img {
		display: none;
	}
}
