@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/*

 Resset sass
 --------------------------------------------
 */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0 !important; }

* {
  -webkit-text-size-adjust: auto !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

a {
  border: 0; }

html {
  overflow-x: hidden; }

body {
  line-height: 1;
  word-wrap: break-word; }

ol,
ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  list-style-position: inside;
  background-image: none;
  margin: 0;
  padding: 0; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Removes leftover margin */ }

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal; }

:focus {
  outline-color: transparent;
  outline-style: none; }

button::-moz-focus-inner {
  border: 0; }

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important; }

/*
.row {
   margin: 0 !important;

   [class*="col-"] {
	   padding-right: 0;
	   padding-left: 0;
   }
}*/
button {
  outline: none !important; }

h1,
h2 {
  text-transform: capitalize; }

* {
  -webkit-overflow-scrolling: touch; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset;
  box-shadow: 0 0 0 30px #ffffff inset; }

button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 22px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif !important;
  cursor: pointer; }
  button.blue {
    background: #0096d7; }
    button.blue:hover {
      background: #0084be; }
    button.blue.bordered {
      border-color: #0096d7;
      color: #0096d7; }
      button.blue.bordered:hover {
        background: #0096d7;
        color: #ffffff; }
  button.red {
    background: #cc0000; }
    button.red:hover {
      background: #b30000; }
  button.green {
    background: #008000; }
    button.green:hover {
      background: #006700; }
  button.gray {
    background: #808080; }
    button.gray:hover {
      background: #737373;
      color: #ffffff; }
  button.white {
    background: #ffffff;
    color: #808080; }
  button.transparent {
    background: none;
    color: #0096d7; }
  button.bordered {
    line-height: 41px;
    background: none;
    border: 1px solid #ffffff; }
    button.bordered:hover {
      background: #ffffff;
      color: #808080; }
  button.inactive, button.disabled {
    background: #808080;
    cursor: no-drop;
    visibility: hidden;
    display: none !important; }
    button.inactive.bordered, button.disabled.bordered {
      border: 1px solid #808080;
      color: #ffffff; }
      button.inactive.bordered:hover, button.disabled.bordered:hover {
        background: #808080; }
    button.inactive:hover, button.disabled:hover {
      background: #808080; }
  button.thin {
    border-radius: 15px;
    height: 25px;
    line-height: 25px; }
    button.thin.bordered {
      line-height: 28px; }
  button.clear-radius {
    border-radius: 0; }

input,
textarea {
  width: 100%;
  height: 35px;
  border-radius: 22px;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 0 20px;
  font-weight: 400;
  color: #808080;
  font-size: 12px; }
  input:focus,
  textarea:focus {
    color: #808080 !important;
    border: 1px solid #808080 !important; }
  input.disabled, input.inactive,
  textarea.disabled,
  textarea.inactive {
    color: #ffffff !important;
    background: #808080; }
  input.transparent,
  textarea.transparent {
    background: none !important;
    border: 1px solid rgba(128, 128, 128, 0);
    color: #808080 !important; }
    input.transparent:focus,
    textarea.transparent:focus {
      border: 1px solid rgba(128, 128, 128, 0) !important; }
  input.bordered,
  textarea.bordered {
    border: 1px solid #808080; }
    input.bordered:focus,
    textarea.bordered:focus {
      border: 1px solid #808080 !important; }
  input.clear-radius,
  textarea.clear-radius {
    border-radius: 0; }

.hide {
  display: none !important; }

.hidden {
  visibility: hidden !important;
  display: none !important; }

html {
  height: 100%; }

body {
  font-family: Arial, serif;
  background: url("../images/background.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100%; }

.main {
  width: 67%;
  margin: 20px auto 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  min-height: calc(100% - 40px - 30px - 20px); }
  .main .main-title {
    text-align: center; }
    .main .main-title img {
      display: block;
      max-width: 100px;
      margin: 0 auto; }
    .main .main-title h1 {
      font-size: 20px;
      color: #17ACBC;
      margin: 10px;
      text-transform: uppercase; }
    .main .main-title h4 {
      font-size: 16px;
      color: #808080;
      margin: 10px 0 0 0; }
    .main .main-title p {
      font-size: 14px;
      color: #808080;
      margin: 10px 0 0 0; }
  .main .reset {
    margin: 40px 0 0 0;
    text-align: right; }
    .main .reset button {
      width: auto;
      padding: 0 20px; }
  .main .players-group {
    margin: 30px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative; }
    .main .players-group .overlay {
      display: none; }
    .main .players-group.disabled {
      padding: 10px;
      display: none; }
      .main .players-group.disabled .overlay {
        display: block;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center; }
        .main .players-group.disabled .overlay:after {
          content: "";
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        .main .players-group.disabled .overlay span {
          font-size: 14px;
          line-height: 18px;
          color: #ffffff;
          display: inline-block;
          vertical-align: middle;
          width: 50%; }
    .main .players-group .field {
      width: 49%; }
      .main .players-group .field label {
        font-size: 14px;
        color: #808080;
        text-align: center;
        display: block; }
      .main .players-group .field ul {
        min-height: 35px;
        margin: 10px 0 0 0;
        border: 1px solid #808080; }
        .main .players-group .field ul li {
          width: 48%;
          background: #0096d7;
          padding: 5px;
          display: inline-block;
          margin: 5px 0 5px 1.5%;
          position: relative; }
          .main .players-group .field ul li:after {
            content: "";
            height: 100%;
            vertical-align: middle;
            display: inline-block; }
          .main .players-group .field ul li span {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #ffffff;
            text-transform: capitalize; }
            .main .players-group .field ul li span:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 30px;
              height: 37px;
              margin: 0 10px 0 0;
              background: url(../images/default.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.aram span:before {
            background: url(../images/aram.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.vaghik span:before {
            background: url(../images/vaghik.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.arman span:before {
            background: url(../images/arman.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.gugo span:before {
            background: url(../images/gugo.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.aleta span:before {
            background: url(../images/aleta.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.siranush span:before {
            background: url(../images/siranush.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.mko span:before {
            background: url(../images/mko.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.miko span:before {
            background: url(../images/miko.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.narek span:before {
            background: url(../images/narek.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li.lilit span:before {
            background: url(../images/lilit.svg) no-repeat left top/100% auto; }
          .main .players-group .field ul li i {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #ffffff;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%); }
      .main .players-group .field input {
        margin: 10px 0 0 0; }
    .main .players-group .buttons-wrap {
      margin: 20px 0 0 0;
      width: 100%;
      text-align: center; }
      .main .players-group .buttons-wrap button {
        width: auto;
        padding: 0 20px;
        margin: 0 auto; }
  .main .generate-teams {
    margin: 30px 0 0 0;
    text-align: center; }
    .main .generate-teams .title-wrap {
      width: 100%; }
    .main .generate-teams h1 {
      font-size: 20px;
      color: #808080;
      text-align: center;
      display: block;
      width: 100%; }
    .main .generate-teams .group-collapse-button {
      display: block;
      width: 100px;
      margin: 20px auto 0; }
    .main .generate-teams .generate-teams-button {
      display: inline-block;
      width: auto;
      padding: 0 20px; }
    .main .generate-teams .group-blocks {
      margin: 20px 0 0 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      padding: 20px;
      background: rgba(128, 128, 128, 0.26);
      border-bottom: 1px solid gray; }
      .main .generate-teams .group-blocks .group-wrap {
        width: 49%; }
        .main .generate-teams .group-blocks .group-wrap .score-list {
          margin: 20px 0 0 0;
          position: relative;
          min-height: 90px; }
        .main .generate-teams .group-blocks .group-wrap .group-collapse-button {
          width: 100px;
          margin: 20px 0 0 0; }
      .main .generate-teams .group-blocks.collapsed .group-wrap {
        overflow: hidden;
        height: 0;
        min-height: 0; }
    .main .generate-teams .group-list-wrap {
      margin: 20px 0 0 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative; }
  .main table {
    width: 100%;
    text-align: left; }
    .main table td, .main table th {
      color: #ffffff;
      font-size: 14px;
      height: 35px;
      vertical-align: middle;
      padding: 0 10px; }
      .main table td:not(:nth-of-type(1)), .main table th:not(:nth-of-type(1)) {
        text-align: right; }
    .main table th {
      font-weight: bold;
      font-size: 16px; }
    .main table thead tr th {
      background: #0096d7; }
    .main table tbody tr td {
      background: #808080; }
    .main table tbody tr:nth-of-type(odd) td {
      background: #9a9a9a; }
    .main table tbody tr.top-0 td {
      background: #008000; }
    .main table tbody tr.top-1 td {
      background: #009a00; }
    .main table tbody tr.top-2 td {
      background: #00a900; }
  .main .opponents-wrap {
    width: 100%;
    position: relative; }
    .main .opponents-wrap:not(:nth-of-type(1)) {
      margin: 20px 0 0 0; }
    .main .opponents-wrap button {
      text-transform: uppercase; }
    .main .opponents-wrap .message {
      display: block;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center; }
      .main .opponents-wrap .message span {
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        width: 50%; }
    .main .opponents-wrap img {
      display: block;
      width: 100%; }
    .main .opponents-wrap .tie-button {
      width: auto;
      padding: 0 20px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
    .main .opponents-wrap .submit-result-button {
      width: auto;
      padding: 0 20px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
    .main .opponents-wrap .edit-button {
      width: auto;
      padding: 0 20px;
      position: absolute;
      top: 10px;
      right: 10px; }
    .main .opponents-wrap input {
      width: 50px;
      height: 25px;
      display: block;
      padding: 0 5px;
      margin: 5px auto 0; }
    .main .opponents-wrap .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4); }
      .main .opponents-wrap .overlay h4 {
        display: inline-block;
        background: #008000;
        padding: 5px;
        margin: 10px 0 0 0;
        color: #ffffff;
        font-size: 18px;
        text-transform: capitalize; }
      .main .opponents-wrap .overlay .wrap {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      .main .opponents-wrap .overlay ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .main .opponents-wrap .overlay ul:nth-of-type(2) {
          margin: 10px 0 0 0; }
        .main .opponents-wrap .overlay ul li {
          display: inline-block;
          font-size: 14px;
          color: #ffffff;
          font-weight: bold;
          text-transform: uppercase; }
          .main .opponents-wrap .overlay ul li:after {
            content: "";
            height: 100%;
            vertical-align: middle;
            display: inline-block; }
          .main .opponents-wrap .overlay ul li:nth-of-type(1), .main .opponents-wrap .overlay ul li:nth-of-type(3) {
            width: calc((100% - 20px) / 2); }
          .main .opponents-wrap .overlay ul li span {
            display: inline-block;
            vertical-align: middle;
            text-align: center; }
            .main .opponents-wrap .overlay ul li span button {
              width: auto;
              padding: 0 15px;
              display: block;
              margin: 10px auto 0; }
          .main .opponents-wrap .overlay ul li img {
            display: inline-block;
            vertical-align: middle;
            width: 70px; }
  .main .semifinal-wrap {
    padding: 20px;
    background: rgba(128, 128, 128, 0.26);
    border-bottom: 1px solid gray;
    margin: 30px 0 0 0; }
    .main .semifinal-wrap .title-wrap {
      width: 100%; }
    .main .semifinal-wrap h1 {
      font-size: 20px;
      color: #808080;
      text-align: center;
      width: 100%; }
    .main .semifinal-wrap .semifinal-collapse-button {
      display: block;
      width: 100px;
      margin: 20px auto 0; }
    .main .semifinal-wrap .generate-semifinal-matches {
      width: 200px;
      margin: 0 auto;
      display: block; }
    .main .semifinal-wrap .semifinal-matches-wrap {
      margin: 20px 0 0 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      text-align: center; }
      .main .semifinal-wrap .semifinal-matches-wrap .semifinal-group-wrap {
        width: 49%;
        margin: 20px 0 0 0; }
      .main .semifinal-wrap .semifinal-matches-wrap .match-wrap {
        margin: 20px 0 0 0; }
      .main .semifinal-wrap .semifinal-matches-wrap.collapsed .semifinal-group-wrap {
        overflow: hidden;
        height: 0;
        min-height: 0; }
    .main .semifinal-wrap .score-list ul li {
      display: inline-block;
      padding: 0 20px; }
      .main .semifinal-wrap .score-list ul li:before {
        width: 30px;
        height: 36px; }
      .main .semifinal-wrap .score-list ul li p {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #808080;
        margin: 0 0 0 5px;
        text-transform: uppercase; }
      .main .semifinal-wrap .score-list ul li span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #808080;
        margin: 0 0 0 5px; }
        .main .semifinal-wrap .score-list ul li span.winner {
          font-size: 12px;
          background: green;
          padding: 3px 5px;
          color: white; }
        .main .semifinal-wrap .score-list ul li span.goals {
          color: #0096d7;
          font-weight: 700;
          text-decoration: underline; }
    .main .semifinal-wrap .edit {
      display: block !important; }
  .main .final-wrap {
    padding: 20px;
    background: rgba(128, 128, 128, 0.26);
    border-bottom: 1px solid gray;
    margin: 30px 0 0 0; }
    .main .final-wrap .title-wrap {
      width: 100%; }
    .main .final-wrap h1 {
      font-size: 20px;
      color: #808080;
      text-align: center;
      width: 100%; }
    .main .final-wrap .final-collapse-button {
      display: block;
      width: 100px;
      margin: 20px auto 0; }
    .main .final-wrap .generate-final-matches {
      width: 200px;
      margin: 0 auto;
      display: block; }
    .main .final-wrap .final-matches-wrap {
      margin: 20px 0 0 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      text-align: center; }
      .main .final-wrap .final-matches-wrap .final-group-wrap {
        width: 49%;
        margin: 20px 0 0 0; }
      .main .final-wrap .final-matches-wrap .match-wrap {
        margin: 20px 0 0 0; }
      .main .final-wrap .final-matches-wrap.collapsed .final-group-wrap {
        overflow: hidden;
        height: 0;
        min-height: 0; }
    .main .final-wrap .score-list ul li {
      display: inline-block;
      padding: 0 20px; }
      .main .final-wrap .score-list ul li:before {
        width: 30px;
        height: 36px; }
      .main .final-wrap .score-list ul li p {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #808080;
        margin: 0 0 0 5px;
        text-transform: uppercase; }
      .main .final-wrap .score-list ul li span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #808080;
        margin: 0 0 0 5px; }
        .main .final-wrap .score-list ul li span.winner {
          font-size: 12px;
          background: green;
          padding: 3px 5px;
          color: white; }
        .main .final-wrap .score-list ul li span.goals {
          color: #0096d7;
          font-weight: 700;
          text-decoration: underline; }
    .main .final-wrap .score-list h1 {
      color: #0096d7;
      margin: 0 0 20px 0; }
    .main .final-wrap .edit {
      display: block !important; }
  .main .show-winners {
    margin: 20px 0 0 0; }
    .main .show-winners .pedestal {
      margin: 50px auto 0;
      width: 300px;
      position: relative;
      padding: 90px 0 0 0; }
      .main .show-winners .pedestal img {
        display: block;
        width: 100%; }
      .main .show-winners .pedestal .place {
        font-size: 18px;
        color: #0096d7;
        position: absolute;
        text-align: center;
        font-weight: bold; }
        .main .show-winners .pedestal .place.first-place {
          top: 0;
          left: 43%; }
        .main .show-winners .pedestal .place.second-place {
          top: 38px;
          left: 10%; }
        .main .show-winners .pedestal .place.third-place {
          top: 70px;
          right: 8%; }
        .main .show-winners .pedestal .place:before {
          content: '';
          display: block;
          vertical-align: middle;
          width: 50px;
          height: 67px;
          margin: 0 auto 5px;
          background: url(../images/default.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.aram:before {
          background: url(../images/aram.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.vaghik:before {
          background: url(../images/vaghik.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.arman:before {
          background: url(../images/arman.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.gugo:before {
          background: url(../images/gugo.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.aleta:before {
          background: url(../images/aleta.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.siranush:before {
          background: url(../images/siranush.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.mko:before {
          background: url(../images/mko.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.miko:before {
          background: url(../images/miko.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.narek:before {
          background: url(../images/narek.svg) no-repeat left top/100% auto; }
        .main .show-winners .pedestal .place.lilit:before {
          background: url(../images/lilit.svg) no-repeat left top/100% auto; }
  .main .person:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 67px;
    margin: 0 0 5px 0;
    background: url(../images/default.svg) no-repeat left top/100% auto; }
  .main .person.aram:before {
    background: url(../images/aram.svg) no-repeat left top/100% auto; }
  .main .person.vaghik:before {
    background: url(../images/vaghik.svg) no-repeat left top/100% auto; }
  .main .person.arman:before {
    background: url(../images/arman.svg) no-repeat left top/100% auto; }
  .main .person.gugo:before {
    background: url(../images/gugo.svg) no-repeat left top/100% auto; }
  .main .person.aleta:before {
    background: url(../images/aleta.svg) no-repeat left top/100% auto; }
  .main .person.siranush:before {
    background: url(../images/siranush.svg) no-repeat left top/100% auto; }
  .main .person.mko:before {
    background: url(../images/mko.svg) no-repeat left top/100% auto; }
  .main .person.miko:before {
    background: url(../images/miko.svg) no-repeat left top/100% auto; }
  .main .person.narek:before {
    background: url(../images/narek.svg) no-repeat left top/100% auto; }
  .main .person.lilit:before {
    background: url(../images/lilit.svg) no-repeat left top/100% auto; }

footer {
  margin: 30px 0 0 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0096d7;
  font-size: 14px;
  color: #ffffff; }

@media screen and (max-width: 1500px) {
  .main {
    width: 77%; } }
@media screen and (max-width: 1277px) {
  .main {
    width: 90%; } }
@media screen and (max-width: 1130px) {
  .main {
    width: 90%; }

  .main .generate-teams .group-blocks .group-wrap {
    width: 100%; }
    .main .generate-teams .group-blocks .group-wrap:nth-of-type(2) {
      margin: 20px 0 0 0; }
    .main .generate-teams .group-blocks .group-wrap .opponents-wrap {
      margin: 20px 0 0 0;
      width: 49%;
      position: relative; } }
@media screen and (max-width: 970px) {
  .main .opponents-wrap .overlay ul li img {
    margin: 0;
    width: 35px; }

  .main .semifinal-wrap .score-list ul li {
    padding: 0; }

  .main .semifinal-wrap .score-list ul li:nth-of-type(1) {
    padding: 0 10px 0 0; }
  .main .semifinal-wrap .score-list ul li p, .main .semifinal-wrap .score-list ul li span {
    font-size: 12px; }

  .main .final-wrap .score-list ul li {
    padding: 0; }

  .main .final-wrap .score-list ul li:nth-of-type(1) {
    padding: 0 10px 0 0; }
  .main .final-wrap .score-list ul li p, .main .final-wrap .score-list ul li span {
    font-size: 12px; } }
@media screen and (max-width: 765px) {
  .main .opponents-wrap .overlay ul li {
    		/*display: flex;
    		flex-wrap: wrap;
    		align-items: center;
    		justify-content: center;
    
    		span {
    			width: 100%;
    			order: 2;
    			font-size: 12px;
    
    			input {
    				height: 20px;
    			}
    		}*/ }
    .main .opponents-wrap .overlay ul li img {
      display: none; }

  .main .opponents-wrap .overlay ul li img {
    margin: 0 auto 5px;
    width: 20px; }

  .main .players-group .field {
    width: 100%; }
    .main .players-group .field:nth-of-type(2) {
      margin: 20px 0 0 0; } }
/*@media screen and (max-width: 730px) {

	.main .opponents-wrap .overlay ul li img {
		display: none;
	}

	.main .opponents-wrap .overlay h4 {
		display: inline-block;
		background: #008000;
		padding: 3px 5px;
		margin: 5px 0 0 0;
		color: #ffffff;
		font-size: 14px;
		text-transform: capitalize;
	}

	.main .opponents-wrap .edit-button {
		top: 5px;
		right: 5px;
	}

	.main .opponents-wrap .message span {
		width: 100%;
	}
}*/
@media screen and (max-width: 785px) {
  .main {
    width: 95%; }

  .main .opponents-wrap {
    width: 100% !important;
    margin: 20px 0 0 0 !important; }

  .main .opponents-wrap .overlay ul li img {
    display: inline-block;
    width: 100px; }

  .main .semifinal-wrap .semifinal-matches-wrap .semifinal-group-wrap {
    width: 100%; }

  .main .final-wrap .final-matches-wrap .final-group-wrap {
    width: 100%; } }
@media screen and (max-width: 560px) {
  .main .opponents-wrap .overlay ul li img {
    display: inline-block;
    width: 60px; } }
@media screen and (max-width: 450px) {
  .main {
    width: 98%; }

  .main .opponents-wrap .overlay ul li img {
    display: none; } }

/*# sourceMappingURL=main.css.map */
